@import "tailwindcss";

@theme {
  
--color-Orange-500: hsl(25, 97%, 53%);
--color-White: hsl(0, 100%, 100%);
--color-Grey-500: hsl(217, 12%, 63%);
--color-Grey-900: hsl(213, 19%, 18%);
--color-Grey-950: hsl(216, 12%, 8%);
}

* {
  box-sizing: border-box;
}
